<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:rim="http://www.blackberry.com/ns/widgets"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="org.beuckman.geocoder"
      version="0.1.0">

    <name>Geocoder</name>
    <description>Cordova Geocoder Plugin</description>
    <keywords>cordova,geolocation,geocoder</keywords>
    <repo>git@github.com:jbeuckm/cordova-plugin-geocoder.git</repo>

    <js-module src="www/geocoder.js" name="geocoder">
        <clobbers target="navigator.geocoder" />
    </js-module>
    
    <!-- android -->
    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="Geocoder">
                <param name="android-package" value="org.beuckman.geocoder.CDVGeocoder" />
            </feature>
        </config-file>
        
        <source-file src="src/android/CDVGeocoder.java" target-dir="src/org/beuckman/geocoder" />
                 
    </platform>

    
    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
	        <feature name="Geocoder">
	            <param name="ios-package" value="CDVGeocoder"/>
	        </feature>
        </config-file>

        <header-file src="src/ios/CDVGeocoder.h" />
        <source-file src="src/ios/CDVGeocoder.m" />

        <framework src="CoreLocation.framework" />
        <framework src="MapKit.framework" />

        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string></string>
        </config-file>
        
    </platform>



</plugin>
